name: Build

on:
  push:
  schedule:
    - cron: '0 0 * * 0'


env:
#  if: (github.event_name == 'schedule')
#  GITHUB_ENV: https://docs.github.com/en/actions/learn-github-actions/environment-variables#about-environment-variables
  FF_VERSION: ${{ vars.FF_VER }} # TODO: latest release if triggered by schedule
  LLVM_VER: ${{ vars.LLVM_VER }}
  LLVM_VER_DEFAULT: 20
  NINJA_STATUS: '[%f/%t %e %r]'
  SF_PW_MAPPED: ${{ secrets.SF_PW }}
  SF_USER_MAPPED: ${{ secrets.SF_USER }}
  VC_LTL_VER: ${{ vars.VC_LTL_VER }}
  
jobs:
  MinGW_GCC:
    runs-on: ubuntu-latest
    env:
      TARGET_OS: mingw
      COMPILER: gcc
      PKG_CONFIG_PATH_MFX: "/tmp/dep/MinGW/lib/pkgconfig"
      AMF_DIR: "/tmp/dep/include"
      CONFIG_SUFFIX: -${{ matrix.config }}
      USER_OPT: ${{ vars.USER_OPT }}
    strategy:
      fail-fast: false
      matrix:
        config: [lite]
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'
    - name: Create Build Environment
      shell: bash
      run: |
        sudo apt remove -y libc++1-14 libc++abi1-14 libunwind-14 python3-lldb-14 # conflict with latest llvm
        ./tools/ci-before-build.sh
    - name: Configure and Build
      shell: bash
      run: |
        export FFSRC=$PWD/ffmpeg-${FF_VERSION}
        ./avbuild.sh $TARGET_OS
    - name: Make SDK
      shell: bash
      run: ./tools/ci-after-build.sh
    - name: Archieve SDK
      uses: actions/upload-artifact@v4
      with:
        name: ffmpeg-${{ env.FF_VERSION }}-${{ env.TARGET_OS }}-${{ matrix.config }}
        path: ffmpeg-*.tar.xz
